

.review {padding-bottom: 5px;}
.panel-body.review-container {padding-top: 0;}
.review-header {margin-bottom: 3px;}
.reviewAuthor {margin: 0 5px;}
.reviewTimestamp {color: #ccc;}

.label-topic {margin-right: 2px}
.rating-stars {margin-left: 3px;}
#filter {margin-left: 4px;}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
