extends layout

block content
	#banner.page-header
		.row
			.col-md-6.col-sm-12
				h1= title
		.row
			.col-md-6.col-sm-12
				p
					| Instaguide was created to help travellers find the best local guides.
					| <br /><br />
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem acnisi dignissim accumsan.