include _includes/sharedHTMLfunctions

extends layout

block content
	#banner.page-header
		.row
			.col-lg-6
				h1= pageHeader.title
					small &nbsp;#{pageHeader.strapline}

	.row
		.col-xs-12.col-sm-8(ng-controller="guideListCtrl")
			label(for="filter2") Filter results
			input#filter(type="text", name="filter2", ng-model="textFilter")
			.error {{message}}
				.row.list-group
					.col-xs-12.list-group-item(ng-repeat="guide in data.guides | filter :textFilter")
						h4
							a(href="/guides/{{guide._id}}") {{guide.name}}
							small(rating-stars rating="guide.rating")
							span.badge.pull-right.badge-default {{guide.distance | formatDistance}}
						p.address 
							strong Starting Point:
								{{guide.startingPoint}}
							p
								span.label.label-warning(ng-repeat="topic in guide.topics") {{topic}}
								&nbsp;

		.col-xs-12.col-sm-4
			p.lead= sidebar  			
						
