<navigation></navigation>

<div class="container">
    <page-header content="vm.pageHeader"></page-header>

    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <label for="filter">Filter results</label>
            <input id="filter" type="text" , name="filter" , ng-model="textFilter">
            <div class="error">{{ vm.message }}</div>
            <div class="row list-group">
                <div class="col-xs-12 list-group-item" ng-repeat="guide in vm.data.guides | filter : textFilter">
                    <h4>
                        <a href="/guide/{{ guide._id }}">{{ guide.name }}</a>
                        <small class="rating-stars" rating-stars rating-num="guide.rating"></small>
                        <span class="badge pull-right badge-default">{{ guide.distance | formatDistance }}</span>
                    </h4>
                    <p class="address">{{ guide.startingPoint }}</p>
                    <p>
                        <span class="label label-warning label-topic" ng-repeat="topic in guide.topics">
                            {{ topic }}
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <p class="lead">{{ vm.sidebar.content }}</p>

        </div>
    </div>

    <footer-generic></footer-generic>
</div>    